
@model List<BlogListItemVM>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Blog";
}
@section styles{
    <link href="~/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
@section scripts{
    <script src="~/admin/js/demo/datatables-demo.js"></script>
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Blog</h6>
        <a href="/Admin/Blog/Create" class="btn btn-outline-success">Create</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAT</th
                <th>AuthorId</th>
                <th>Author</th>
                <th>TagId</th>

                <th colspan="2">Action</th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td>@item.CreatedAt</td>
                            <td>@item.UpdatedAt</td>
                            <td>@item.AuthorId</td>
                             @if (item.TagId == null || item.TagId.Count() == 0)
                            {
                                <td>No Tag</td>
                            }
                            else
                            {
                                <td>@string.Join(",",item.TagId.Select(x=>x))</td>
                            }
                            <td class="text-center"><a class="btn btn-outline-info" asp-action="Update" asp-route-id="@item.Id">Update</a></td>
                            <td class="text-center"><a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>