@using Pustok_project.ViewModels.ProductVM;
@model IEnumerable<UsersProductListItemVM>
<section class="section-margin">
    <div class="container">
        <div class="section-title section-title--bordered">
            <h2>CHILDREN’S BOOKS</h2>
        </div>
        <div class="product-list-slider slider-two-column product-slider multiple-row sb-slick-slider slider-border-multiple-row"
             data-slick-setting='{
                                            "autoplay": true,
                                            "autoplaySpeed": 8000,
                                            "slidesToShow":3,
                                            "rows":2,
                                            "dots":true
                                        }' data-slick-responsive='[
                                            {"breakpoint":1200, "settings": {"slidesToShow": 2} },
                                            {"breakpoint":992, "settings": {"slidesToShow": 2} },
                                            {"breakpoint":768, "settings": {"slidesToShow": 1} },
                                            {"breakpoint":575, "settings": {"slidesToShow": 1} },
                                            {"breakpoint":490, "settings": {"slidesToShow": 1} }
                                        ]'>

            @foreach (var item in Model)
            {
                <div class="single-slide">
                    <div class="product-card card-style-list">
                        <div class="card-image">
                            <a asp-controller="Product" asp-route-id="@item.Id" class="author">  
                            <img width="80px" height="120" src="~/@item.ProductMainImg" alt="">
                            </a>
                        </div>
                        <div class="product-card--body">
                            <div class="product-header">
                                <a asp-controller="Product" asp-route-id="@item.Id" class="author">
                                    @item.Name
                                </a>
                                <h3><a asp-controller="Product" asp-route-id="@item.Id" class="author">@item.About</a></h3>
                            </div>
                            <div class="price-block">
                                <span class="price">£@item.SellPrice</span>
                                @* <del class="price-old">£51.20</del> *@
                                <span class="price-discount">@item.Discount %</span>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
