@model List<ProductListItemVM>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Product";
}
@section styles{
    <link href="~/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Product</h6>
        <a href="/Admin/Product/Create" class="btn btn-outline-success">Create</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <th>Id</th>
                <th>Name</th>
                <th>ProductCode</th>
                <th>Description</th>
                <th>About</th>
                <th>ProductMainImg</th>
                <th>SellPrice</th>
                <th>CostPrice</th>
                <th>Discount</th>
                <th>Quantity</th>
                <th>TagId</th>
                <th>CategoryId</th>
                <th>IsDelete</th>
                <th colspan="2">Action</th>
                </thead>
                <tbody id="records">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.ProductCode</td>
                            <td>@item.Description</td>
                            <td>@item.About</td>
                            <td><img width="100" src="~/@item.ProductMainImg" /></td>

                            <td>@item.SellPrice</td>
                            <td>@item.CostPrice</td>
                            <td>@item.Discount</td>
                            <td>@item.Quantity</td>
                            @if (item.TagId == null || item.TagId.Count() == 0)
                            {
                                <td>No Tag</td>
                            }
                            else
                            {
                                <td>@string.Join(",",item.TagId.Select(x=>x))</td>
                            }
                            <td>@item.CategoryId</td>
                            <td>@item.IsDeleted</td>
                            <td class="text-center"><a class="btn btn-outline-info" asp-action="Update" asp-route-id="@item.Id">Update</a></td>
                            <td class="text-center"><a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
        <button class="btn btn-outline-info" id="showMore">Load More</Button>

        @section scripts
        {    <script src="~/admin/js/demo/datatables-demo.js"></script>

            <script>
                var page = 2;
                var pageSize = 2;
                $("#showMore").click(function ()
                {
                    $.ajax(
                    {
                         type: "POST",
                        url: "/Admin/Product/GetMoreRecords?page=" + page + "&pageSize=" + pageSize,
                        success: function (data)
                        {
                            $("#records").append(data);
                            page++;
                        }
                    });
                });
            </script>
        }
    </div>
</div>